@import "./../../../../assets/sass/abstract/variables";

.thumbHeading{
    font-size: 1.375rem;
}
.thumbImg{
    font-size: 3.125rem;
    margin-top: -0.938rem;
}
.thumbPara{
    font-size: $base-font-size;
    color: #898989;
}