<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 text-center">
                <div class="footterContent">
                    <h4 class="footerHeading mt-90">
                        Keep in touch with us
                    </h4>
                    <p class="footerPara">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
                    </p>
                </div>
                <div class="searchBar mb-75">
                    <div class="row">
                        <div class="col-12">
                            <form class="form-inline ml-5 justify-content">
                                <label class="sr-only" for="inlineFormInputName2">Name</label>
                                <input type="text" class="form-control mb-5 searchFooter" id="inlineFormInputName2" placeholder="Enter your email to update">                         
                                <button type="submit" class="btn btn-warning mb-5 ml-4">Submit</button>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="footerIcons text-center">
                    <span *ngFor="let item of socialIconArr">
                        <a [href]="item.link" [innerHTML]="item.icon"></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-140">
            <div class="col">
                <p class="anchor">HALOVIETNAM LTD</p>
                <span class="anchor">66, Dang Van ngu, Dong Da
                    Hanoi, Vietnam</span>
                <span class="anchor">contact@halovietnam.com</span>
                <span class="anchor">+844 35149182</span>
            </div>
            <div class="col">
                <ul class="list1">
                    <li *ngFor="let item of footerItems1">
                        <a href="javascript:;" class="anchor">{{item}}</a>
                    </li>
                </ul>
            </div>
            <div class="col">
              <ul class="list2">
                <li *ngFor="let item of footerItems2">
                    <a href="javascript:;" class="anchor">{{item}}</a>
                </li>
              </ul>
            </div>
            <div class="col">
                <ul class="list3">
                    <li *ngFor="let item of footerItems3">
                        <a href="javascript:;" class="anchor">{{item}}</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list4">
                    <li *ngFor="let item of footerItems4">
                        <a href="javascript:;" class="anchor">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>