@import "./../../../../assets/sass/base/utility";

.features{
    margin: 120px 0;
}

.feature-para{
    font-size: 20px;
    color: #313841;
}
.features-heading{
    font-size: 32px;
    font-weight: bold;
}
